<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--¡NUEVOS PERMISOS!
    Para leer imágenes de la galería (Android 13+)-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Fallback para Android más antiguos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginBasico"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".AccesoActivity"></activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".InfoBasicaActivity" />
        <activity android:name=".EvaluacionEnviada" />

        <!--
        ===================================================================
        ¡NUEVAS ACTIVIDADES DECLARADAS!
        ===================================================================
        -->
        <activity
            android:name=".MenuPrincipalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

    </application>

</manifest>